node_modules
public/files
/public/files
/.next/
/.react-email/

.env
.env*.local
.env*

/public/images/invoices/
public/images/invoices/

src/app/api/protected/chatai
/src/app/api/protected/chatai



lib/stripe.ts
/lib/stripe.ts