              <div class="facture-number font-light text-[23px] leading-[18px] inter">
                <p class="">
                  <span>N°: <span><%=project.invoiceNumber.toString().padStart(5, '0')%></span></span>
                </p>
              </div>