                  <div class="heading-info flex flex-col justify-center">
                    <div>
                      <p>Object</p>
                      <p><%= project.name %></p>
                    </div>
                    <div>
                      <div>
                        <p>Client</p>
                        <p><%=  customer.name %></p>
                      </div>
                      <div>
                        <p>Adresse</p>
                        <p><%=  customer.address %><br></p>
                      </div>
                    </div>
                  </div>