          <div class="heading-info flex flex-col justify-center">
            <div>
              <p>Adresse</p>
              <p><%=  customer.address %></p>
            </div>
            <div>
              <div>
                <p>Objet</p>
                <p><%=  customer.name %></p>
              </div>
              <div>
                <p>Client</p>
                <p><%=  customer.name %></p>
              </div>
            </div>
          </div>