            <div class="headline">
              <p>Objet : <%= project.name %></p>
              <p>Client : <%=  customer.name %> </p>
              <p>Adresse : <%=  customer.address %></p>
            </div>