                <div class="sub-headline-wrapper flex justify-between">
                  <div class="flex flex-col">
                    <p>Object:</p>
                    <p><%=  customer.name %></p>
                    <p>medicalcorps imc</p>
                  </div>
                  <div class="flex flex-col">
                    <p>Addresse:</p>
                    <p><%=  customer.address %></p>
                    <p></p>
                  </div>
                  <div class="flex flex-col justify-end">
                    <p></p>
                    <p>Date:</p>
                    <p><%=date%></p>
                  </div>
                </div>