              <div class="flex flex-col">
                <p>Client</p>
                <p><%=  customer.name %></p>
                <p></p>
              </div>
              <div class="flex flex-col">
                <p>Addresse</p>
                <p><%=  customer.address %></p>
                <p></p>
              </div>
              <div class="flex flex-col justify-end">
                <p>Date:</p>
                <p><%=date%></p>
                <p></p>
              </div>