<p class="flex justify-between">
  <span>MONTANT TOTAL HT:</span>
  <span>19.726.706 FCFA</span>
</p>
<p class="flex justify-between">
  <span>TVA 10%:</span>
  <span>19.726.706 FCFA</span>
</p>
</div>
<p class="remise flex flex-col items-start text-[#000] leading-[20px]">
  <span>REMISE COMMERCIALE (10%):</span>
  <span>-100.000FCFA</span>
</p>
</div>
<p class="total-amount flex justify-between">
  <span> MONTANT TOTAL TTC : </span>
  <span>1.599.376,6 FCFA</span>
</p>