<p class="flex justify-between">
  <span>MONTANT TOTAL HT:</span>
  <span>19.726.706 FCFA</span>
</p>
<p class="flex justify-between">
  <span>TVA 10%:</span>
  <span>19.726.706 FCFA</span>
</p>
<p class="flex justify-between text-[#222428] remise">
  <span>REMISE COMMERCIALE (10%):</span>
  <span>-100.000FCFA</span>
</p>

<p class="total-amount flex justify-between">
  <span>
    TOTAL TTC : 
  </span>
  <span>1.599.376,6 FCFA</span>
</p>