<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="test.css" />
  </head>
  <body>
    <div class="main">
      <div class="left-section"></div>
      <div class="right-section">
        <h1 class="title">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium
          omnis commodi nobis nemo ab ullam totam! Atque modi autem velit
          ducimus unde asperiores, expedita, hic animi tempore assumenda libero
          sint?
        </h1>

        
        <p>
          Culpa magnam consequatur fuga ullam soluta possimus quisquam natus
          tempore sit repellendus quidem, suscipit provident.
        </p>
        <p class="bg-red-400">
          Culpa magnam consequatur fuga ullam soluta possimus quisquam natus
          tempore sit repellendus quidem, suscipit provident.
        </p>
        <h1 class="title">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium
            omnis commodi nobis nemo ab ullam totam! Atque modi autem velit
            ducimus unde asperiores, expedita, hic animi tempore assumenda libero
            sint?
          </h1>
          <h1 class="title">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium
            omnis commodi nobis nemo ab ullam totam! Atque modi autem velit
            ducimus unde asperiores, expedita, hic animi tempore assumenda libero
            sint?
          </h1>
          <h1 class="title">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium
            omnis commodi nobis nemo ab ullam totam! Atque modi autem velit
            ducimus unde asperiores, expedita, hic animi tempore assumenda libero
            sint?
          </h1>

          <h1 class="title">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium
            omnis commodi nobis nemo ab ullam totam! Atque modi autem velit
            ducimus unde asperiores, expedita, hic animi tempore assumenda libero
            sint?
          </h1>
      </div>
    </div>
  </body>
</html>
