<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="test.css" />
  </head>
  <body>
    <div class="relative bg-white w-96 h-96">
      <div class="absolute top-0 left-0 h-20 bg-red-600 w-96"></div>
      <div class="left-[12px] top-[117px] absolute text-black text-xs font-normal font-['Inter']">Nom de l’entreprise</div>
      <div class="left-[12px] top-[140px] absolute text-black text-xs font-normal font-['Inter']">Email</div>
    </div>
  </body>
</html>
