            <header class="header flex">
              <div class="absolute top-0 z-[-1]">
                <svg xmlns="http://www.w3.org/2000/svg" width="828" height="59" viewBox="0 0 828 59" fill="none">
                  <path d="M414 58.2243C718.828 58.2243 965.94 -9.46196 965.94 -92.9572C965.94 -176.452 718.828 -244.139 414 -244.139C109.172 -244.139 -137.939 -176.452 -137.939 -92.9572C-137.939 -9.46196 109.172 58.2243 414 58.2243Z" fill="#004F79"/>
                </svg>
              </div>
              <div class="absolute top-[20px] w-[200px] h-[172px] bg-white rounded-full z-[-1]">
              </div>
              <div class="logo">
                <p>LOGO</p>
              </div>
            </header>