            <header class="header flex">
              <div class="logo">
                <p>LOGO</p>
              </div>
              <div class="facture-number font-light text-[23px] inter">
                <div class="leading-[24px]">
                  <p><%= invoiceType == 0 ? 'PROFORMA' : invoiceType == 1 ? 'FACTURE' : invoiceType == 2 ? 'BORDEREAU' : '' %></p>
                  <p>N°: <span><%=project.invoiceNumber.toString().padStart(5, '0')%></span></p>
                </div>
                <p class="date pt-1 border-t-[1px] text-[12px] flex">
                  Date: <%=date%>
                </p>
              </div>
            </header>
