<div class="footer pt-4 page-footer text-center justify-center items-center bottom-0 inter">
  <div class="text-[11px] px-[57px] line-clamp-3">
    <p>NOTRE ADRESSE : QUARTIER BACO DJICORONI GOLF, RUE 849 IMMEUBLE ALY KOUMA, BAMAKO/ MALI</p>
    <p>TEL : (+223) 63 59 80 96 / 83 94 24 11 / E-MAIL : CONTACTPRINTARTSERVICE@GMAIL.COM</p>
  </div>
</div>