<header class="heading flex justify-between mt-[68px] px-[56px] ">
  <div class="logo rounded-full w-[122px] h-[122px] flex items-center">
    <p class="font-bold text-[43px] ml-[66.7px]">LOGO</p>
  </div>
  <div class="facture-number h-[75px] my-[15px] font-semibold text-[23px] inter pr-[18px] border-r-4">
    <div class="mb-1 leading-6 ">
      <p>FACTURE</p>
      <p>N°: 05234</p>
    </div>
    <p class="pt-1 border-t-[1px] border-[#4D4B4C] text-[12px]">Date:03/10/2019</p>
  </div>
</header>