<header class="heading flex justify-between mt-[68px] px-[56px]">
  <div class="w-[150px] h-[150px]">
              
    <img src="<%=logo%>" alt="" srcset="">
                  </div>
  <div class="facture-number my-[15px] font-light text-[23px] inter">
    <div class="mb-1 leading-tight">
      <% if(invoiceType == 0) { %>
        <p>PROFORMA</p>
      <% } %>
      <% if(invoiceType == 1) { %>
        <p>FACTURE</p>
      <% } %>
      <% if(invoiceType == 2) { %>
        <p>BORDEREAU</p>
      <% } %>
      <p>N°: <%=project.invoiceNumber%></p>
    </div>
    <p class="pt-1 border-t-[1px] border-[#4D4B4C] text-[12px]">Date:<%=date%></p>
  </div>
</header> 