<header class="heading flex justify-between mt-[68px] px-[56px]">
  <div class="logo rounded-full w-[78px] h-[78px] my-[21px]">
  </div>
  <div class="facture-number my-[15px] font-light text-[23px] inter">
    <div class="leading-tight mb-1">
      <p>FACTURE</p>
      <p>N°: 05234</p>
    </div>
    <p class="pt-1 border-t-[1px] border-[#4D4B4C] text-[12px]">Date:03/10/2019</p>
  </div>
</header>