<header class="heading flex justify-between mt-[68px] px-[56px]">
  <div class="logo rounded-full w-[122px] h-[122px] flex items-center">
    <p class="font-bold text-[43px] ml-[66.7px]">LOGO</p>
  </div>
  <div class="facture-number h-[80px] pr-[20px] flex flex-col justify-center my-[15px] leading-tight text-[14px] inter">
    <div class="flex items-center leading-6">
      <p>FACTURE</p>
      <div class="dividor hidden"></div>
      <p>N°: 05234</p>
    </div>
    <div class="flex items-center">
      <p>Date</p>
      <div class="dividor hidden"></div>
      <p>03/10/2019</p>
    </div>
  </div>
</header>