<div class="headline inter font-bold mt-[27.53px] text-[16.4px] px-14">
  <p>Objet: <%= project.name %></p>
  <p>Client:<%=  customer.name %></p>
  <p>Adresse:<%=  customer.address %></p>
</div>




 