<div class="headline inter font-bold mt-[27.53px] text-[16.4px] px-14">
  <p>Objet:badgesprofessionnelspourlesnouveauxstaffs</p>
  <p>Client:internationalmedicalcorpsimc</p>
  <p>Adresse:hmdallaye</p>
</div>