<div class="flex justify-between text-[10px] font-light pt-10 mt-2 px-[110px]">
  <div class="w-[130px] h-[180px] text-center uppercase">

    <% if( invoiceType != 1){ %>
    <p class="pb-2 border-b border-black/30"> <%=   invoiceType === 2 ? "Le réceptionnaire": "Pour accord" %> </p>
    <% } %>
    <% if( invoiceType == 1){ %>
    <p class="pb-2 border-b border-black/30"> Pour acquit </p>
    <% } %>
  
  </div>
  <div class=" h-[180px]  relative flex justify-center -mt-2 flex-col items-center text-center uppercase">
     <div class="absolute  border-b border-black/30 top-[30px] w-[130px]"></div>
    <% if(signed){ %>
    <p class="pb-2  max-w-[130px]  "> <%=   invoiceType === 2 ? "Le fournisseur": "Le prestataire" %> </p>
    <img src="<%=signature%>" class="pt-3   object-top w-[200px] object-contain h-[140px] " alt="" srcset="">
    <% } %>
    <% if(!signed){ %>
      <p class="pb-2  max-w-[130px] "> <%=   invoiceType === 2 ? "Le fournisseur": "Le prestataire" %> </p>
      <div   class="pt-3  object-top w-[200px] object-contain h-[140px] " alt="" srcset=""></div>
      <% } %>
  </div>
</div>





