<div class="sign flex justify-between text-[9.73px] text-[#222428] pt-[143.16px] pb-[108.4px] inter px-14">
  <p class="px-[33.36px] py-[12.51px] border-t-[1px] border-[#4D4B4C]">POURACQUIS</p>
  <p class="px-[33.36px] py-[12.51px] border-t-[1px] border-[#4D4B4C]">LEPRESTATAIRE</p>
</div>