<div class="flex justify-between text-[14px] pt-10 px-20">
  <div class="w-[180px] h-[180px] text-center uppercase">
    <p class="pb-2 border-b border-black">Pour accord</p>

    <% if(signed){ %>
      <img src="<%=signature%>" class="pt-3 bg-white" alt="" srcset="">
      <% } %>
  </div>
  <div class="w-[180px] h-[180px] text-center uppercase">
    <p class="pb-2 border-b border-black">Le prestataire</p>
  </div>
</div>