<div class="flex justify-between text-[10px] signature font-light pt-10 mt-2 px-[110px]">



  <% if(signed){ %>

    <div class="w-[130px] h-[180px] text-center uppercase">
    
    <% } %>
    <% if(!signed){ %>
     
      <div class="w-[130px] h-[10px] text-center uppercase">
      <% } %>


 

    <% if( invoiceType != 1){ %>
    <p class="pb-2 "> <%=   invoiceType === 2 ? "Le réceptionnaire": "Pour accord" %> </p>
    <% } %>
    <% if( invoiceType == 1){ %>
    <p class="pb-2 "> Pour acquit </p>
    <% } %>
  
  </div>

  <% if(signed){ %>

    <div class=" h-[180px]  relative flex justify-center -mt-2 flex-col   items-center text-center uppercase">
    
    <% } %>
    <% if(!signed){ %>
     
      <div class=" h-[40px]  relative flex justify-center -mt-2 flex-col   items-center text-center uppercase">
      <% } %>



      <% if(signed){ %>
        <div class="absolute  top-[30px] w-[130px]"></div>
    <p class="pb-2  max-w-[130px]  "> <%=   invoiceType === 2 ? "Le fournisseur": "Le prestataire" %> </p>
    <img src="<%=signature%>" class="pt-3   object-top w-[200px] object-contain h-[140px] " alt="" srcset="">
  </div>
    <% } %>
    <% if(!signed){ %>
      <div class="absolute  top-[30px] w-[130px]"></div>
      <p class="pt-2  max-w-[130px] "> <%=   invoiceType === 2 ? "Le fournisseur": "Le prestataire" %> </p>
      <div   class="pt-3  object-top w-[200px] object-contain h-[140px] " alt="" srcset=""></div>
    </div>
      <% } %>

</div>





