<main class="tabs flex flex-col mt-[51.43px] font-light border-t-[1px] border-b-[1px] border-[#010101]">
  <!-- table heading -->
  <div class="tabs-header tabs-item inter flex w-full  text-[14.8px] gap-[5px] px-14">
    <p class="w-[45%] pr-[66px] mr-[61px] py-[18px] border-[#010101] border-r-[1px]">DESCRIPTION</p>
    <p class="w-[115px] text-center py-[18px]">QTé.</p>
    <p class="w-[115px] text-center py-[18px]">Prix.U</p>
    <p class="w-[115px] text-center py-[18px]">Montant</p>
  </div>
  <!-- table item -->
  <div class="tabs-item text-[12px] flex w-full items-center gap-[5px] px-14">
    <p class="w-[45%] pr-[66px] mr-[61px] py-[18px] border-[#010101] border-r-[1px]">Adaptation, éxécution et mise en page, badge <br>professionnel, en PVC, Recto, Verso, impréssion en couleur avec plastique, pochette cordon- forfait</p>
    <p class="w-[115px] text-center py-[18px]">20</p>
    <p class="w-[115px] text-center py-[18px]">700.000 FCFA</p>
    <p class="w-[115px] text-center py-[18px]">14.000.000 FCFA</p>
  </div>
  <div></div>
  <div class="separator border-[#1D1D1D] mx-14"></div>
  <!-- table item -->
  <div class="tabs-item text-[12px] flex w-full items-center gap-[5px] px-14">
    <p class="w-[45%] pr-[66px] mr-[61px] py-[18px] border-[#010101] border-r-[1px]">item</p>
    <p class="w-[115px] text-center py-[18px]">20</p>
    <p class="w-[115px] text-center py-[18px]">700.000 FCFA</p>
    <p class="w-[115px] text-center py-[18px]">14.000.000 FCFA</p>
  </div>
  <div></div>
  <div class="separator border-[#1D1D1D] mx-14"></div>
  <!-- table item -->
  <div class="tabs-item text-[12px] flex w-full items-center gap-[5px] px-14">
    <p class="w-[45%] pr-[66px] mr-[61px] py-[18px] border-[#010101] border-r-[1px]">Adaptation , éxécution et mise en page , badge <br>professionnel, en PVC, Recto, Verso, impréssion en couleur avec pochette plastique, cordon- forfait</p>
    <p class="w-[115px] text-center py-[18px]">50</p>
    <p class="w-[115px] text-center py-[18px]">80.000 FCFA</p>
    <p class="w-[115px] text-center py-[18px]">14.000.000.000 FCFA</p>
  </div>
  <div></div>
  <div class="separator border-[#1D1D1D] mx-14"></div>
  <!-- table item -->
  <div class="tabs-item text-[12px] flex w-full items-center gap-[5px] px-14">
    <p class="w-[45%] pr-[66px] mr-[61px] py-[18px] border-[#010101] border-r-[1px]">Adaptation , éxécution et mise en page , badge <br>professionnel, en PVC, Recto, Verso, impréssion en couleur avec pochette plastique, cordon- forfait</p>
    <p class="w-[115px] text-center py-[18px]">50</p>
    <p class="w-[115px] text-center py-[18px]">80.000 FCFA</p>
    <p class="w-[115px] text-center py-[18px]">526.706 FCFA</p>
  </div>
</main>