<main class="tabs flex flex-col mt-[51.43px] font-light">
  <!-- table heading -->
  <div class="tabs-header tabs-item inter flex w-full  text-[14.8px] gap-[5px] px-14 py-[14px]">
    <p class="flex-1 py-[8.34px] px-[15.29px]">DESCRIPTION</p>
    <p class="w-[115px] py-[8.34px] text-center">QTé.</p>
    <p class="w-[115px] py-[8.34px] text-center">Prix.U</p>
    <p class="w-[115px] py-[8.34px] text-center">Montant</p>
  </div>
  <!-- table item -->
  <div class="tabs-item text-[9.72px] flex w-full items-center gap-[5px] px-14 py-[18px]">
    <p class="flex-1">Adaptation, éxécution et mise en page, badge <br>professionnel, en PVC, Recto, Verso, impréssion en couleur avec plastique, <br>pochette cordon- forfait</p>
    <p class="w-[115px] py-[8.34px] text-center">20</p>
    <p class="w-[115px] py-[8.34px] text-center">700.000 FCFA</p>
    <p class="w-[115px] py-[8.34px] text-center">14.000.000 FCFA</p>
  </div>
  <div></div>
  <div class="separator border-t-[1px] border-[#1D1D1D] mx-14"></div>
  <!-- table item -->
  <div class="tabs-item pb-[16.68px] text-[9.72px] flex w-full items-center gap-[5px] px-14 py-[18px]">
    <p class="flex-1">item</p>
    <p class="w-[115px] py-[8.34px] text-center">20</p>
    <p class="w-[115px] py-[8.34px] text-center">700.000 FCFA</p>
    <p class="w-[115px] py-[8.34px] text-center">14.000.000 FCFA</p>
  </div>
  <div></div>
  <div class="separator border-t-[1px] border-[#1D1D1D] mx-14"></div>
  <!-- table item -->
  <div class="tabs-item pb-[16.68px] text-[9.72px] flex w-full items-center gap-[5px] px-14 py-[18px]">
    <p class="flex-1">Adaptation , éxécution et mise en page , badge <br>professionnel, en PVC, Recto, Verso, impréssion en couleur avec <br>pochette plastique, cordon- forfait</p>
    <p class="w-[115px] py-[8.34px] text-center">50</p>
    <p class="w-[115px] py-[8.34px] text-center">80.000 FCFA</p>
    <p class="w-[115px] py-[8.34px] text-center">14.000.000.000 FCFA</p>
  </div>
  <div></div>
  <div class="separator border-t-[1px] border-[#1D1D1D] mx-14"></div>
  <!-- table item -->
  <div class="tabs-item pb-[16.68px] text-[9.72px] flex w-full items-center gap-[5px] px-14 py-[18px]">
    <p class="flex-1">Adaptation , éxécution et mise en page , badge <br>professionnel, en PVC, Recto, Verso, impréssion en couleur avec <br>pochette plastique, cordon- forfait</p>
    <p class="w-[115px] py-[8.34px] text-center">50</p>
    <p class="w-[115px] py-[8.34px] text-center">80.000 FCFA</p>
    <p class="w-[115px] py-[8.34px] text-center">526.706 FCFA</p>
  </div>
  <div></div>
  <div class="border-t-[1px] border-[#1D1D1D] mx-14 separator"></div>
  <div class="empty-item flex align-bottom">
    <div class="w-full"></div>
  </div>
</main>