<div class="total flex justify-between mt-[23.63px] text-[12.51px] text-[#4D4B4C] px-14">
  <div class="leading-4 left mt-[5.56px]">
    <p class="font-semibold">Arrêtée la présente Facture à la somme de :</p>
    <p>
      Un million deux cent mille plus que<br>
      Modalité de paiment : 40% à la commande <br>
      Accompte à payer : 8.679.750,64 FCFA <br>
      Réliquat à la livraison : 13.019.625,96 FCFA <br>
    </p>
  </div>
  <div class="right flex flex-col text-[9.73px] gap-[11.12px] inter">
    <p class="flex justify-between">
      <span>MONTANT TOTAL HT:</span>
      <span>19.726.706 FCFA</span>
    </p>
    <p class="flex justify-between">
      <span>TVA 10%:</span>
      <span>19.726.706 FCFA</span>
    </p>
    <p class="flex justify-between text-[7.64px] px-[11.81px] py-[6.25px] text-[#222428] border border-[#4D4B4C]">
      <span>REMISECOMMERCIALE(10%):</span>
      <span>-100.000FCFA</span>
    </p>
    <p class="total-amount px-[11.12px] py-[9.73px]">
      <span> MONTANT TOTAL TTC : </span>
      <span>1.599.376,6 FCFA</span>
    </p>
  </div>
</div>