<div class="total flex justify-between mt-[14px] text-[12.51px] text-[#4D4B4C] px-14">
  <div class="left mt-[5.56px] leading-4 w-[48%]">
    <p class="font-semibold">Arrêtée la présente Facture à la somme de :</p>
    <p>
      Un million deux cent mille plus que<br>
      Modalité de paiment : 40% à la commande <br>
      Accompte à payer : 8.679.750,64 FCFA <br>
      Réliquat à la livraison : 13.019.625,96 FCFA <br>
    </p>
  </div>
  <div class="right flex flex-col text-[9.73px] inter w-[48%]">
    <p class="flex justify-between pb-[8.3px] pt-[16px] px-[29px]">
      <span>MONTANT TOTAL HT:</span>
      <span>19.726.706 FCFA</span>
    </p> 
    <p class="flex justify-between pb-[8.3px] pt-[16px] px-[29px]">
      <span>TVA 10%:</span>
      <span>19.726.706 FCFA</span>
    </p>
    <p class="flex justify-between pb-[8.3px] pt-[16px] px-[29px]">
      <span>REMISECOMMERCIALE(10%):</span>
      <span>-100.000FCFA</span>
    </p>
    <p class="total-amount flex justify-between font-bold pb-[8.3px] pt-[16px] px-[29px]">
      <span> MONTANT TOTAL TTC : </span>
      <span>1.599.376,6 FCFA</span>
    </p>
  </div>
</div>